extends layout

block content
	p You are now logged in as #{user.username}.

	if quiz
		h1= quiz.title
		p= quiz.text
	else
		p No quiz here! Please wait until game start.

	p
		a(href='/admin') admin
